{
  "extends": "airbnb/base",
  "parser": "babel-eslint",

  "env": {
    "node": true,
  },

  "settings": {
    "import/resolver": "webpack",
    "import/extensions": ["", ".js", ".json"]
  },

  rules: {
    "import/extensions": ["error", "always", {
      "js": "never",
    }],
    "import/no-named-default": 0,
    "no-underscore-dangle": 0,
    "consistent-return": ["warn"],
    "no-mixed-operators": ["error", {"allowSamePrecedence": true}],

    "no-param-reassign": ["warn"],
  },
}